.root {
    -fx-base: #aaa;
    -fx-background-color: black;
    -fx-background-color: radial-gradient(center 50% 50%, radius 60%, #111, #000);
}

.button {
    -fx-background-color: null;
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 13pt;
    -fx-pref-width: 300px;
}

.label {
    -fx-font-size: 11pt;
    -fx-text-fill: #aaa;
}

#title {
    -fx-font-size: 16pt;
    -fx-text-fill: #ddd;
}

.list-cell{
    -fx-text-fill: #ddd;
    -fx-background-color: black;
}

.list-cell:filled:hover {
    -fx-background-color: #ddd;
    -fx-text-fill: black;
}

.list-cell:filled:selected {
    -fx-background-color: linear-gradient(#333 0%, #777 25%, #aaa 75%, #eee 100%);
    -fx-text-fill: white;
}
